.mark {
    background-color: rgba(255, 255, 53, 0.356);
    padding: 0.1vw;
}

b {
    background-color:rgba(211, 211, 211, 0.553);
    color: red;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}
abbr {
    text-decoration: none; /*Tira o pontilhado do <abbrs>*/

}

hr {
    opacity: 0.5;
}

/*Links*/

a:link, a:visited, a:active {            
    color: black;
    /*font-size: medium;*/
    text-decoration: none;
}
    
a:hover {
    color: rgba(0,0,0, 0.5);
}

/*formatação*/

.menu1 {
    color:black;
    text-decoration: none;
    font-size: 17px;
    
}
.menu1:hover {
    color: rgba(0,0,0,0.5);
}

.code {
    background-color: black;
    color: white;
    padding: 0.1px;
}
body {
    font-size: 18px;
}

/*Botão de subir*/
div.irtopo {
    border: 1px solid black;
    border-radius: 50%;
    right: 25px;
    bottom: 25px;
    position: fixed;
    color: black;
    opacity: 0.3;
}
div.irtopo a {
    display: block;
    padding: 12px 8px;
    text-decoration: none;
}


div.irtopo:hover, a:hover {
    opacity: 1;
    color: black;
}

/*Tabela*/
table, td, th { 
    border: 1px solid black;
    padding: 3px 2px;
    border-collapse: collapse;
}

th {
    text-align: center;
}

td:hover {
    background-color: grey;
}

td {
    padding-right: 9vw;
}

tr:nth-child(even) { /*Deixa a tabela listrada*/
    background-color: lightgray;
}
.scroll {
    overflow-y: scroll; /*Coloca uma barra de scroll*/
    height: 284px;  
    display: block; 
}

.next {
    color: blue;
}
.next:hover {
    color: darkblue;
}

.menu2 {
    background-color: black;
    list-style-type: none;
    overflow: hidden;
}

.menu2_text {
    float:left;
    color: white;
    text-align: right;
    padding: 16px;
    text-decoration: none;
    font-size: x-large;
}
