.mark {
    background-color: rgba(255, 255, 0, 0.479);
    padding: 1vw;
}

b {
    background-color:lightgrey;
    color: red;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}
abbr {
    text-decoration: none; /*Tira o pontilhado do <abbrs>*/

}

hr {
    opacity: 0.5;
}